@using System.Globalization
@model LogEntry

<tr id="entry-@Model.Id">
    <td>@Model.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
    <td>@Model.StartDateTime.ToString(@"hh\:mm")</td>
    <td>@Model.FinishDateTime.ToString(@"hh\:mm")</td>
    <td>@Model.TotalTime.ToString(@"hh\:mm")</td>
    <td>£@Model.QuantityCharged</td>
    <td>
        <form asp-controller="LogEntry" asp-action="EditLogEntry" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="editButton" /><i class="fas fa-edit" aria-hidden="true"></i></button>
        </form>
    </td>
    <td><button class="deleteButton"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
</tr>